<br>
<div class="container">
  <h1>Formulario de Contacto</h1>
  
  <form action="mailto:tu_correo@example.com" method="POST" enctype="text/plain">
    <div class="mb-3">
      <label for="name" class="form-label">Nombre</label>
      <input type="text" class="form-control" id="name" placeholder="Introduce tu nombre" required>
    </div>

    <div class="mb-3">
      <label for="email" class="form-label">Correo Electrónico</label>
      <input type="email" class="form-control" id="email" placeholder="Introduce tu correo electrónico" required>
    </div>

    <div class="mb-3">
      <label for="subject" class="form-label">Asunto</label>
      <input type="text" class="form-control" id="subject" placeholder="Asunto del mensaje" required>
    </div>

    <div class="mb-3">
      <label for="message" class="form-label">Mensaje</label>
      <textarea class="form-control" id="message" rows="5" placeholder="Escribe tu mensaje aquí..." required></textarea>
    </div>

    <%= button_to 'Enviar', '/', class: 'button' %>
  </form>
</div>
