<br>
<h1 class="fw-normal">Bienvenidos</h1>
<br>
<h2 class="fw-light">Este sitio es una suerte de portafolio en el cual estaré mostrar mis desafíos y
desarrollos implementados en Rails</h2>

<%= image_tag 'rails.jpg' , class: "card-img w-25" %>
